/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
README.txt
laravel-evoting.rar
Zerboa - Evoting OSIS MPK Berbasis laravel - DOIT5.rar
/storage/framework/views/*.php
/storage/framework/sessions
/storage/framework/cache